.mdx {
  font-size: 0.9rem;
  line-height: 20px;
}

.mdx h1 {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 15px;
}

.mdx p {
  margin-bottom: 8px;
}

/* https://inpa.tistory.com/entry/CSS-%F0%9F%92%8D-ul-ol-li-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EB%94%94%EC%9E%90%EC%9D%B8-%F0%9F%96%8C%EF%B8%8F-%EB%AA%A8%EC%9D%8C */
.mdx li::before {
  content: "\2043\20";
  color: gray;
}
